/* Personal Info */
.personalAge {
    font-size: larger;
    text-align: end;
}

.personalCity {
    font-size: larger;
}

.personalInfo {
    padding-right: 5%;

    b {
        font-size: x-large;
    }
}

.cardTitle {
    background-color: #20202228;
    padding: 1%;
}